include ../header
    div.container-fluid.mt-5.login-parent
        form(action='/admin' method="post" onsubmit="return validateUserLogin()")
            div.container.login-div.pt-3
                h2#heading.text-white.text-center ADMIN LOGIN
                div.mb-3
                    p.text-danger.text-center #{message} 
                div.mb-3.my-3
                    label(for="exampleLoginInputEmail1").form-label.text-white Email
                    input(type="email" name="email").form-control#exampleInputEmail
                    div#emailHelp.form-text
        
                div.mb-3
                    label(for=exampleInputPassword1).form-label.text-white Password
                    input(type="password" name="password").form-control#exampleInputPassword
                    div#passwordHelp.form-text.text-danger
                
                div.mb-5.mt-4.text-center
                    button(type="submit").btn.btn-primary.mt-3 SUBMIT  
    script(src="/script/script.js")

                                   