
body{
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size:cover;
    background-color: #f4f4f4;
}
.main-div{
    border: 2px;
    background-color: rgba(255, 255, 255, 0.169);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 50%;
    border-radius: 5px;
}

@media (max-width:537px) {
    .main-div{
        width:80%;
    }
}

.inputStyle{
    border-color: transparent;
    background-color: rgba(236, 232, 232, 0.5);
}
.heading_style{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}


/*login*/
.login-parent{
   padding-top: 50px;
}
.login-div{
    max-width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5px;
    padding: 50px;
    border-radius: 15px;
    background-color: #f4f4f4;
    color: black;
    box-shadow: rgba(139, 139, 139, 0.12) 0px 2px 4px 0px, rgba(153, 153, 153, 0.32) 0px 2px 16px 0px;
}
.login-heading{
    text-align: center;
    padding-top: 50px;
}
@media (max-width:720px) {
    .login-div{
        width: 80%;
    }
}

.user-signup-link{
    text-decoration: none;
    font-size: large;
    margin-top: 20px;
}


.btn-div{
    display: grid;
    justify-content: center;
    margin-top: 6%;
}
.container{
    overflow: hidden;
}
.home-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90vh;
    width: 100vw;
    overflow: hidden;
    color: black;
}

.login-home-viewUser{
    font-size: 80%;
}
.login-home-viewUser-parent{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-home{
    background-color: rgb(255, 255, 255);
    color: black;
    padding-left: 3rem;
    padding-right: 3rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}
.username{
    display: flex;
}
.username-fname{
    flex:1;
    margin-right: 5px;
}
.username-lname{
    flex:1;
}

.userViewTable{
    padding-top: 2%;
    border-color: #00000066;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.dashboardImage{
    border: 2px;
    border-style: solid;
}
.userSignupMessageDiv{
    font-size: larger;
    color: crimson;
}
.dashboardNavSearch{
    background-color: #dad8d8;
    color: black;
}


input::placeholder {
    color: rgb(10, 1, 1); /* Replace with your desired color value */
}

#navbarNav{
    margin-left: 60%;
}

